/*
MODAL PROGRESS
*/
.modal
{
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
	left:0;
    filter: alpha(opacity=0);
    opacity: 0.6;
    -moz-opacity: 0.8;
}
.center
{
    z-index: 1000;
    border-radius: 10px;
    margin-top : 300px;
	margin-left : 550px;
	filter: alpha(opacity=100);
    vertical-align : middle;
	opacity: 1;
    -moz-opacity: 1;
	width : 130px;
	height : 130px;
}
.center img
{
    height: 125px;
    width: 125px;
}